@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

:root{
    --dark-blue: #1E2640;
    --light: #F3EAC0;
    --desert-sun: #DC9750;
    --rose-red: #922C40;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 200px;
  }
  
  .nav-bar .nav-links {
    background-color: var(--dark-blue);
    position: absolute;
    top: 130px;
    list-style-type: none;
    display: none;
    flex-direction: column;
    right: 10%;
    width: auto;
    padding: 10px 50px;
    border-radius: 10px;
  }
  .nav-bar .nav-links.active {
    display: flex;
  }

  .nav-bar .left-col img{
      width: 25%;
  }

  .nav-bar .nav-links li {
    margin: 20px 0;
  }
  .nav-bar .nav-links li a {
    text-decoration: none;
    color: black;
    color: white;
  }
  
  .nav-bar .right-col i{
    font-size: 30px;
    color: black;
    border: 2px solid black;
    border-radius: 50% 50%; 
    padding: 15px;
  }
  
  .hero-section .hero-links a{
    display: block;
    text-decoration: none;
    font-size: 25px;
    text-align: end;
    padding: 0px 200px;
    color: #3D3D3D;
  }
  
  .hero-text .header p{
    font-size: 60px;
    font-weight: 700;
    color: #3D3D3D;
  }
  
  .hero-text .header h5{
    color: #3D3D3D;
    font-weight: 400;
    font-size: 20px;
  }
  
  .hero-text .header{
    text-align: center;
  }